@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: linear-gradient(180deg, #ffffff, #7229d957);
    background-attachment: fixed;
}

main{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.perfil img{
    width: 100px;
}

.perfil{
    margin-top: 40px;
    text-align: center;
}

.perfil h1{
    font-weight: 600;
    font-size: 35px;
    color: #1f2633;
}

.perfil p{
    font-weight: 600;
    color: #1f2633;
}

#frase{
    margin-top: 25px;
    font-weight: 600;
    color: #1f2633;
    font-size: 14px;
}

.areaicones img{
    width: 23px;
    transition: all 0.5s;
    cursor: pointer;
}

.areaicones img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.areaicones{
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}

.caixa{
    background: #1f2633;
    text-align: center;
    padding: 15px;
    margin: 10px;
    margin-top: 40px;
    border-radius: 12px;

    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.caixa h2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
}

#tTitulos{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #1f2633;
    text-align: center;
}

.caixa p{
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
}


/*========= card ==========*/

.fotos{
    margin-top: 40px;
}

.fotos h1{
    text-align: center;
}

.swiper {
    width: 220px;
    height: 300px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-image: url(../arquivos/img/01.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(2n) {
    background-image: url(../arquivos/img/02.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(3n) {
    background-image: url(../arquivos/img/03.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(4n) {
    background-image: url(../arquivos/img/04.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(5n) {
    background-image: url(../arquivos/img/05.png);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(6n) {
    background-image: url(../arquivos/img/06.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(7n) {
    background-image: url(../arquivos/img/07.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(8n) {
    background-image: url(../arquivos/img/08.png);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(9n) {
    background-image: url(../arquivos/img/09.png);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(10n) {
    background-image: url(../arquivos/img/10.png);
    background-position: center;
    background-size: cover;
  }

  /*========= card ==========*/

footer img{
    width: 120px;
}
footer{
    background: #ffffff64;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}